
html {
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: bold;
}

/* Main frame */

.App {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;  
  font-size: 3rem;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #fff;
  border-radius: 0.4rem;
}


/* Form (text box and button) */

ul {
  list-style: none;  
  overflow: hidden;
}

.form {
  display: inline-flex;
  padding: 2rem;
  border-radius: 5px;
  background: white;
  width: 100%;
  height: 10rem;
}

.form_input {
  outline: none;
  width: 70%;
  border: none;
}


.form_button {
  display: flex;
  width: 30%;
  height: auto;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.form_button:hover {
  background-color: #cacaca;
}

.form_button:active {
  color: white;
  background-color:black;
  border-width:2px;
  position:relative;
  top:2px;
}

#submitbutton {
  display: none;
}

/* To-do items */

textarea {
  resize: none;
}

label {
  display: inline-block;
  width: 10%;
}

.task_item_list {
  padding: 2rem;
  overflow: hidden;
  display: block;
}

.task_item_li {
  padding: 2rem;
  display: inline-flex;
  width: 100%;
}

.task_item_li input[type=text] {
  width: 70%;
  border: none;
  margin-right: 0.5rem;
}

.task_item_li button {
  width: 40%;
}

.task_buttons_container {
  display: inline-flex;
  width: 30%;
  justify-content: space-between;
}

#labelbutton {
  background-color: #f0f0f0;
  width: 40%;
}

#labelbutton:hover {
  background-color: #cacaca;

}

#labelbutton:active {
  color: white;
  background-color:black;
  border-width:2px;
  position:relative;
  top:2px;
}

.taskbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  border: none;
  cursor: pointer;
  background-color: f0f0f0;
  border-radius: 5px;
  transition: all 0.3s;
}

.taskbutton:hover {
  background-color: #cacaca;
}

.taskbutton:active {
  color: white;
  background-color:black;
  border-width:2px;
  position:relative;
  top:2px;
}

.taskbutton svg {
  height: 70%;
}

/* Media query for mobile layout */

@media only screen and (max-width: 480px) {
  .App {
    font-size: 1.8rem;
  }

  /* Input */
  .form {
    flex-direction: column;
  }

  .form_input {
    width: 100%;
    padding: 0.3rem;
  }

  .form_button {
    width: 100%;
    height: 3rem;
  }

  /* Task component */

  .task_item_li {
    flex-direction: column;
    padding-top: 0;
  }

  .task_item_li input[type="text"] {
    width: 100%;
  }

  .task_buttons_container {
    width: 100%;
  }

  .task_buttons_container > button,
  .task_buttons_container > label {
    height: 2.2rem;
  }
}